#sign-in-button {
  background-color: #ff6b03;
}

#create-account-button {
  background-color: #ff6b03;
}

#login {
  background-color: #373a3c;
}

#signup {
  background-color: #373a3c;
}

body {
  background-color: #183540;
}
