<div
    class="modal opacity-0 pointer-events-none absolute w-full h-full top-0 left-0 flex items-center justify-center display-none">
    <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
    <div class="absolute w-1/2 h-32 bg-white rounded-sm shadow-lg flex items-center justify-center text-2xl">
        <p>Test</p>
    </div>
    <button class="close-button px-2 mr-2 text-white font-bold rounded">
        Close
    </button>
</div>