<nav class="flex items-center justify-between flex-wrap p-3 dark-background-colour orange-border-bottom">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a href="/dashboard"><span class="font-semibold text-xl tracking-tight">Arcadia</span></a>
  </div>
  <div class="right-0">
    <ul>
      <a class="nav-buttons mr-2" style="color: #edf2f4" href="/profile">Profile</a>
      <a class="nav-buttons mr-2" style="color: #edf2f4" href="/logout">Logout</a>
    </ul>
  </div>
  </div>
  </div>
</nav>