<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Arcadia</title>
  <link rel="icon" type="image/png" href="/images/logo.png" />
  <link href="/styles/style.css" rel="stylesheet" />
  <link href="/styles/stylesheet.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="white-background-colour">
  {{{ body }}}
</body>

</html>